img{
    width: 60px;
  height:  60px;
  object-fit: cover;
  border-radius: 30px;
   vertical-align: middle;
  
  margin-right: 7px;
  box-shadow: 0px 0px 1px 1px grey;
}

.text{
     font-size: 18px;
  border: none;
  width: 200px;
  vertical-align: middle;
   
}
button{
    background-color:   rgb(29, 155, 240);
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 45px;
    margin-left: 45px;
   
}

button:hover{
    opacity: 0.8;
}

button:active{
    box-shadow: 0px 1px 1px 0px grey;
}

.Cat_div{
    display: inline-block;
    width:370px;
    height: 90px;
    margin-top: 20px;
    border: 1px black solid;
    vertical-align: center;
    padding-left: 10px;
    padding-top: 15px;
    box-shadow: 2px 2px 5px 1px grey;
    border-radius: 5px;
    transition: all 2s;
    
}

.pro-pic{
    display: inline-block;
}

.name{

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1px;
    margin-bottom: 2px;
}
.p-div{
    display: inline-block;
}

.dis-block{
   color: grey;
}

.dis-block{
    margin-top: 5px;
    margin-bottom: 5px;
    
   
}

.p_1-div{
   
}
.name{
   
}

.main-div{
    display: inline-block;
}
.poular-p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}

.btn-div{

    display: inline-block;
    margin-left: 100px;
}

img{
    margin-bottom: 45px;
    margin-top: 4px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}