     body{
            font-family: Montserrat;
        }
        h2{
            margin-bottom: 5px;
        }
        ._1st-text{
            color: grey;
            font-weight: lighter;

        }
        p{
            font-size: 25px;
        }
        .p-text{
            margin-top: 8px;
        }
        span{
            color: rgb(35, 132, 230);
        }